*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    color: goldenrod;
    font-size: 60px;
    border: 2px solid grey;
    padding: 20px;
    background-color: beige;
}
